# This is Git's per-user configuration file.
[user]
	name = Harry Sarson
	email = harry.sarson@hotmail.co.uk
	signingkey = 28DF8D7AD1D0E4EF89E198C4E0C19F975E57A6CE
[credential]
	helper = store
[alias]
	lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
	b = branch
	r = remote
	s = status
	dc = diff --cached
	cdgd = !cd `git rev-parse --git-dir`/..
[core]
	excludesfile = /home/harry/.gitignore_global
[commit]
	gpgsign = true
